$white: #fff;
$gray: #ddd;
$dark_gray: #545151;
$blue: #C2EAF5;
$green: #C2F5DA;

.splash {
  background-size: cover;
  background-position: 40%;
  background-image: url('../images/splash.jpg');

  h1 {
    text-align: center;
    color: $white;
    margin-top: 30px;
    text-shadow: 0 0 6px rgba(0,0,0,0.5);
    display: block;
    height: calc(100% - 205px);
  }

  button.button {
    opacity: 0.85;
    border: none;
    position: absolute;
    bottom: 0;
    text-transform: none;
  }
}

.chat {
  .bar-header {
    height: 47px;

    button.button {
      position: absolute;
      right: 6px;
    }
  }

  .bar-footer {
    label {
      border: none;
      padding: 0;
      margin: 0;
    }
  }

  .avatar {
    border-radius: 50%;
    width: 11%;
    height: 100%;
    z-index: 10;
    position: relative;
  }

  .user-info {
    padding-left: 10px;

    label {
      clear: both;
      float: left;
    }

    .name {
      font-weight: bold;
    }
  }

  button.button {
    margin: 0 !important;
    width: 9%;
    height: 9%;
    border: none;
    background: none;
  }

  #send-chat {
    position: absolute;
    bottom: 0;
    z-index: 2;
    right: 7px;
    top: 7px;
  }

  #new-room {
    top: 6px;
  }

  #chat-box {
    width: 100%;

    input[type="text"] {
      font-size: 16px;
      padding-right: 36px;
      padding-left: 7px;
    }
  }

  .has-header {
    top: 62px;
  }

  #messages {
    p {
      clear: both;
      max-width: 70%;
      display: inline-block;
      padding: 3px 11px;
      border-radius: 5px;
      color: $dark_gray;
    }

    .partner {
      background: $green;
      float: left;
      margin-left: 10px;
    }

    .me {
      background: $blue;
      float: right;
      margin-right: 10px;
    }
  }
}