.splash {
  background-size: cover;
  background-position: 40%;
  background-image: url("../images/splash.jpg"); }
  .splash h1 {
    text-align: center;
    color: #fff;
    margin-top: 30px;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    display: block;
    height: calc(100% - 205px); }
  .splash button.button {
    opacity: 0.85;
    border: none;
    position: absolute;
    bottom: 0;
    text-transform: none; }

.chat .bar-header {
  height: 47px; }
  .chat .bar-header button.button {
    position: absolute;
    right: 6px; }
.chat .bar-footer label {
  border: none;
  padding: 0;
  margin: 0; }
.chat .avatar {
  border-radius: 50%;
  width: 11%;
  height: 100%;
  z-index: 10;
  position: relative; }
.chat .user-info {
  padding-left: 10px; }
  .chat .user-info label {
    clear: both;
    float: left; }
  .chat .user-info .name {
    font-weight: bold; }
.chat button.button {
  margin: 0 !important;
  width: 9%;
  height: 9%;
  border: none;
  background: none; }
.chat #send-chat {
  position: absolute;
  bottom: 0;
  z-index: 2;
  right: 7px;
  top: 7px; }
.chat #new-room {
  top: 6px; }
.chat #chat-box {
  width: 100%; }
  .chat #chat-box input[type="text"] {
    font-size: 16px;
    padding-right: 36px;
    padding-left: 7px; }
.chat .has-header {
  top: 62px; }
.chat #messages p {
  clear: both;
  max-width: 70%;
  display: inline-block;
  padding: 3px 11px;
  border-radius: 5px;
  color: #545151; }
.chat #messages .partner {
  background: #C2F5DA;
  float: left;
  margin-left: 10px; }
.chat #messages .me {
  background: #C2EAF5;
  float: right;
  margin-right: 10px; }

/*# sourceMappingURL=main.css.map */
