<ion-view view-title="Chat" class="content chat">
    <ion-header-bar align-title="left" class="bar bar-header bar-stable">
        <img class="avatar" ng-src="{{partnerInfo.avatar}}" />
        <div class="user-info">
            <label class="name">{{partnerInfo.username || partnerInfo.name}}</label>
            <label class="location">{{partnerInfo.location || partnerInfo.location}}</label>
        </div>
        <div id="server-message"><label>{{serverMessage}}</label></div>
        <button ng-click="newRoom()" id="new-room" class="button icon ion-refresh"></button>
    </ion-header-bar>
    <ion-content>
        <div id="messages"></div>
    </ion-content>
    <ion-footer-bar align-title="left" class="bar bar-footer bar-light">
        <div id="chat-box">
            <label class="item item-input">
                <input ng-model="userMessage" type="text" placeholder="Say something!">
            </label>
            <button ng-click="sendChat()" id="send-chat" class="button icon ion-android-send"></button>
        </div>
    </ion-footer-bar>
</ion-view>