<ion-view view-title="Login" class="content splash">
    <button ng-click="facebookLogin()" class="button button-block button-positive icon-left ion-social-facebook">
        Sign in with Facebook
    </button>
</ion-view>